<%- include("partials/header.ejs") %>

<body class="create">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>Tell us your story!</h1>
            </div>
            <div class="row">
                <form action="/submit" method="POST" enctype="multipart/form-data">
                    <div class="custom-file-input">
                        <input class="input file" type="file" name="img" id="img" style="display: none;">
                        <label for="img" class="custom-file-label">Upload Image</label>
                    </div>
                    <input class="input title" type="text" name="title" placeholder="Title" required maxlength="30">
                    <textarea class="input body" name="body" placeholder="Write here" required></textarea>
                    <input type="submit" value="Post">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>

<%- include("partials/footer.ejs") %>