<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/login.css">
<body class="d-flex flex-column min-vh-100">
  <div class="container rounded flex-grow-1 d-flex flex-column justify-content-center">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form action="/auth/register" method="POST">
            <h1 class="h3 mb-3 fw-normal">Register</h1>
    
            <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" required>
              <label for="floatingUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
              <label for="floatingEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="confirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" required>
              <label for="floatingConfirmPassword">Confirm Password</label>
            </div>
    
            <button class="btn w-100 py-2" type="submit"><p>Register</p></button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer mt-auto">
      <%- include("partials/footer.ejs") %>
    </div>
</body>
