.create form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between the elements */
}

.create .title h1 {
    margin-bottom: 40px;
}

.create textarea,
.create input {
    margin-bottom: 15px;
}

.create .input.body {
    resize: none;
    height: 2000px;
    width: 100%;
}
.create .input.file{
    align-self: flex-start; /* Aligns the submit button to the start */
    padding: 10px ;
    height: 300px; width: 300px;
    background-color: #161616;
    color: white;
    border: dashed #79acf8 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .2s;
    position: relative;
    
}
.create .input.title {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */

}

.create .input.body {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.create input[type="submit"] {
    align-self: flex-start; /* Aligns the submit button to the start */
    padding: 15px 30px;
    background-color: #0d6efd;
    color: white;
    font-stretch:wider;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: .2s;
    width: 100%;
}

.create input[type="submit"]:hover {
    background-color: #79acf8; /* Changes the button color on hover */
}

.create .custom-file-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.create .custom-file-label {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #161616;
    border: 2px dashed #79acf8;
    color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    transition: .2s;
    height: 200px; width: 200px;
}

.create .custom-file-label:hover {
    background-color: #4b50554d;
}