

.create form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between the elements */
}

.create .title h1 {
    font-family: "Playwrite CZ", cursive;
    background-image: linear-gradient(90deg, #f8a342, #f76f57);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
    height: 70px;
}

.create textarea,
.create input {
    margin-bottom: 15px;
}

.create .input.body {
    resize: none;
    height: 2000px;
    width: 100%;
}

.create .input.title {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    font-family: "Poppins", sans-serif;
}

.create .input.body {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    font-family: "Poppins", sans-serif;
}

.create input[type="submit"] {
    align-self: flex-start; /* Aligns the submit button to the start */
    padding: 15px 30px;
    background-image: linear-gradient(90deg, #f8a342, #ff6017);
    color: white;
    font-family: "Playwrite CZ", cursive;
    font-stretch:wider;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    
    width: 100%;
}


.create input[type="submit"]:hover {
    transition: .3s;
    background-image: linear-gradient(90deg, rgba(248, 163, 66, 0.521), rgba(255, 110, 42, 0.521)); /* Changes the button color on hover */
}

.create .custom-file-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.create .custom-file-label {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #492b1ad2;
    border: 4px dashed #ff8f62;
    color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    transition: .2s;
    height: 200px; width: 200px;
}

.create .custom-file-label:hover {
    background-color: #4b50554d;
}