html, body {
    height: 100%;
}
  
.footer {
    padding: 1rem 0; /* Optional: Add some padding */
}

form .h3 {
    font-family: "Playwrite CZ", cursive;
    background-image: linear-gradient(90deg, #f8a342, #f76f57);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    font-size: 48px;
    height: 80px;
}
.btn {
    padding: 10px 20px;
    background: linear-gradient(90deg, #f8a342, #ff6017);
    color: white;
    font-family: "Poppins", sans-serif;
    font-stretch: wider;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    align-items: end;
    transition: background-image 2s; 
}

.btn:hover {
    background-image: linear-gradient(90deg, rgba(248, 163, 66, 0.521), rgba(255, 110, 42, 0.521)); /* Changes the button color on hover */
}

.btn p{
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}